.AdminModeConfirmed
*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.aps
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.bak
*.pspimage
.vs
**/ipch/**
**/bin/**
**/Bin/**
**/obj/**
**/Corel Auto Preserve/**
**/Corel Auto-Preserve/**
**/Save/**
**/Debug/**
**/Debug Library/**
**/Release Library/**
**/Derived/**
**/Release/**
**/Debug Unicode STL MT/
Save/**
Bin/**
DirectX_LegacySdkHeaders.h
Settings.txt
Settings backup *.txt
GameStats.csv
zlib/contrib/vstudio/vc14/x86/**
PinballY/shaders/*.h
litehtml/Debug-UTF8/**
litehtml/Release-UTF8/**
zlib/contrib/vstudio/vc14/ia64/**
zlib/contrib/vstudio/vc14/x64/**
Builds/**
WixSetup/Generated/*
**/ZlibStatRelease/**
**/ZlibStatDebug/**
Notes/Adobe SWF File Format Specification.pdf
Notes/Google Swiffy Flash to HTML5 Converter.pdf
ccimport.bat
