/* This file is part of PinballY
   Copyright 2018 Michael J Roberts | GPL v3 or later | NO WARRANTY */
   
html, body {
    background: #ffffff;
    color: #000000;
}

body {
    margin: 2em 6em 3em 4em;
}


.navbar {
    background: #f0f0f0;
    padding: 1em 2em;
    margin: -2em -6em 2em -4em;
}
html, body, table, form {
    font: 10.5pt/16pt Segoe UI, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

p {
    max-width: 50em;
}
ul, ol, li {
    max-width: 45em;
}

h1 {
    font-weight: 700;
    font-size: 140%;
}
h2 {
    margin-top: 2em;
    font-weight: 700;
    font-size: 120%;
}
h3 {
    margin-top: 1.5em;
    font-weight: 700;
    font-size: 110%;
}
h4 {
    margin-top: 1.25em;
    font-weight: 700;
    font-size: 100%;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.singleSpace li {
    margin-top: .25ex;
    margin-bottom: .25ex;
}

li.toc {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

table {
    margin: 2em auto;
}
table, td, th {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}
td, th {
    padding: 1ex 1em;
}

img.example {
    display: block;
    margin: 2em auto;
}

.indented {
    margin-left: 2em;
    margin-right: 2em;
}

.code {
    margin: -1.75em 2em 1em 2em;
    white-space: pre;
}
